@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

.text-white {
  color: #ffffff;
}
/* INDEX.HTML */
/* HEADER */
.main-header {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  color: inherit;
  background-color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-item-button {
  background-color: #756157;
}

.navigation-link-title {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

/* INTRO. ВВЕДЕНИЕ*/
.intro-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.intro-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

/* ADVANTAGES */
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  text-align: center;
}

/* SEARCH */
.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

/* NEWSLETTER */
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-label {
  line-height: 24px;
  opacity: 0,6;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* FOOTER */
.telephone-link {
  color: #000000;
  text-decoration: none;
}

.telephone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

/* CATALOG.HTML */
/* BREADCRUMBS */
.inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  background-color: #d3d3d3;
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

/* CATALOG-FILTER */
.catalog-filter {
  color: #ffffff;
}

.inner-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control span {
  line-height: 23px;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

/* CATALOG-SORTING */

.catalog-sorting {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
}

/* HOTEL LIST */
.hotel-card-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-table {
  color: #333333;
}

.hotel-card-price {
  text-align: right;
}

.button-details {
  color: #ffffff;
  text-decoration: none;
}

.button-favorites {
  color: #ffffff;
  text-decoration: none;
}

.raiting-field {
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

/* PAGINATION */
.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
}
