@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 1280px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

.text-white {
  color: #ffffff;
}
/* INDEX.HTML */
/* HEADER */
.main-header {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  color: inherit;
  background-color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-item-button {
  background-color: #756157;
}

.navigation-link-title {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

/* INTRO. ВВЕДЕНИЕ*/
.intro {
  width: 1200px;
  height: 767px;
}

.intro-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.intro-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.intro-welcome {
  width: 1200px;
  height: 485px;
  background-image: url("../images/intro-background.jpg");
  background-size: 100% auto;
  background-color: #9e9e9e;
}

.intro-white-rectangle {
  width: 1200px;
  height: 282px;
  background-color: #ffffff;
}

/* ADVANTAGES */
.advantages-list {
  list-style-type: none;
  padding-inline-start: 0;
  /* margin-block-start: 0;
  margin-block-end: 0; */
}

.advantages-item {
  width: 1200px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-blue {
  width: 400px;
  height: 384px;
  background-color: #82B3D3;
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-white {
  background-color: #ffffff;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  text-align: center;
}

/* SEARCH */
.search {
  width: 1200px;
  height: 406px;
  background-color: #ffffff;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

/* NEWSLETTER */
.newsletter {
  width: 1200px;
  height: 414.86px;
  background-color: #ffffff;
}

.newsletter-index {
  background-image: url("../images/subscribe-img.jpg");
  background-size: 100% auto;
  background-color: #9e9e9e;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-label {
  line-height: 24px;
  opacity: 0,6;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* FOOTER */
.main-footer {
  width: 1200px;
  height: 120px;
  background-color: #ffffff;
}

.telephone-link {
  color: #000000;
  text-decoration: none;
}

.telephone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

/* CATALOG.HTML */
/* BREADCRUMBS */
.inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  background-color: #d3d3d3;
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

/* CATALOG-FILTER */
.catalog-filter {
  color: #ffffff;
}

.inner-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control span {
  line-height: 23px;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

/* CATALOG-SORTING */

.catalog-sorting {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
}

/* HOTEL LIST */
.hotel-card-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-table {
  color: #333333;
}

.hotel-card-price {
  text-align: right;
}

.button-details {
  color: #ffffff;
  text-decoration: none;
}

.button-favorites {
  color: #ffffff;
  text-decoration: none;
}

.raiting-field {
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

/* PAGINATION */
.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
}
